<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Proiect</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>header</servlet-name>
    <jsp-file>/header.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ConnToEventTypes</servlet-name>
    <servlet-class>connect.ConnToEventTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnToEventTypes</servlet-name>
    <url-pattern>/ConnToEventTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConnToEventCategories</servlet-name>
    <servlet-class>connect.ConnToEventCategories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnToEventCategories</servlet-name>
    <url-pattern>/ConnToEventCategories</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>events-by-city</servlet-name>
    <jsp-file>/events-by-city.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>events-by-city</servlet-name>
    <url-pattern>/events-by-city</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>events-by-category</servlet-name>
    <jsp-file>/events-by-category.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>events-by-category</servlet-name>
    <url-pattern>/events-by-category</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>login-page</servlet-name>
    <jsp-file>/login-page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login-page</servlet-name>
    <url-pattern>/login-page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>planner-events</servlet-name>
    <jsp-file>/planner-events.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>planner-events</servlet-name>
    <url-pattern>/planner-events</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add-event</servlet-name>
    <jsp-file>/add-event.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>add-event</servlet-name>
    <url-pattern>/add-event</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register-page</servlet-name>
    <jsp-file>/register-page.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register-page</servlet-name>
    <url-pattern>/register-page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnUserLogin</display-name>
    <servlet-name>ConnUserLogin</servlet-name>
    <servlet-class>connect.ConnUserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnUserLogin</servlet-name>
    <url-pattern>/ConnUserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>connect.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnUserRegister</display-name>
    <servlet-name>ConnUserRegister</servlet-name>
    <servlet-class>connect.ConnUserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnUserRegister</servlet-name>
    <url-pattern>/ConnUserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnToPlannerEvents</display-name>
    <servlet-name>ConnToPlannerEvents</servlet-name>
    <servlet-class>connect.ConnToPlannerEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnToPlannerEvents</servlet-name>
    <url-pattern>/ConnToPlannerEvents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlannerDeleteEvent</display-name>
    <servlet-name>PlannerDeleteEvent</servlet-name>
    <servlet-class>connect.PlannerDeleteEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlannerDeleteEvent</servlet-name>
    <url-pattern>/PlannerDeleteEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlannerAddEvent</display-name>
    <servlet-name>PlannerAddEvent</servlet-name>
    <servlet-class>connect.PlannerAddEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlannerAddEvent</servlet-name>
    <url-pattern>/PlannerAddEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrgAddEvent</display-name>
    <servlet-name>OrgAddEvent</servlet-name>
    <servlet-class>connect.OrgAddEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrgAddEvent</servlet-name>
    <url-pattern>/OrgAddEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEventThumbnail</display-name>
    <servlet-name>AddEventThumbnail</servlet-name>
    <servlet-class>connect.AddEventThumbnail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEventThumbnail</servlet-name>
    <url-pattern>/AddEventThumbnail</url-pattern>
  </servlet-mapping>
</web-app>